<div id="app">
    <input type="text" v-model="jsonText.text">
    <div v-text="message"></div>
    <div>{{message}}{{jsonText.text}} </div>
    <div>{{jsonText.text}}</div>
    <div>{{list.arr[0].name}}</div>
    <div v-for="item in list">
        {{list.item}}
    </div>
</div>

<script type="module">
    import Vue from './vue/vue.js'

    const vue = window.vue = new Vue({
        el: '#app',
        data: {
            message: 'hello world',
            jsonText: {
                text: 'hello vue'
            },
            list: {
                arr: [
                    {name: 'igo'}
                ]
            }
        }
    })
</script>